
web/packages/editor/.svelte-kit/

web/packages/editor/build/

web/packages/editor/.env

.venv/

web/packages/editor/public/builds/

web/packages/editor/static/builds/

custom_components/esphome_display/__pycache__/
.claude/

.ruff_cache/
*.zip
4.0inch_ESP32-4848S040
temp/

esphome/.esphome/

esphome/secrets.yaml

web/packages/admin/.svelte-kit/

web/packages/admin/.env

web/packages/admin/build/
.env