.git
.gitignore
.DS_Store
node_modules
**/node_modules
.svelte-kit
**/.svelte-kit
dist
**/dist
build
**/build
.turbo
.cache
**/__pycache__
**/*.py[cod]
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
